# Python cache and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environments
.venv/
env/
venv/

# Jupyter and VSCode
.ipynb_checkpoints/
.vscode/

# Build / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
